body {
  direction: rtl;
  font-family: "NarkisBlock";
  box-sizing: border-box;
  /* border: 1px solid black; */
  width: 100vw;
  height: 100vh;
}

/* ICONS */

#icon {
  width: 1vw;
}

/* TOP-HEADER */

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
.top-header a {
  text-decoration: none;
  color: black;
  font-size: 10%;
  position: relative;
}

.box-1 {
  order: 1;
  position: relative;
  top: 40px;
}
.img {
  order: 2;
  position: static;
  right: 10%;
}

.box-2 {
  order: 3;
  position: relative;
  top: 40px;
}

.box-2-1 {
  display: inline-block;
  background-color: blue;
  position: relative;
}

.box-2-1 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* HEADER */

header {
  background-color: rgb(222, 26, 26);
  margin: 1%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  font-size: 10%;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* NEWS BAR */

.news-bar {
  display: flex;
  background-color: #f3f8f9;
  width: 99vw;
  height: 20vh;
}

.news-bar a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.news-bar > div {
  font-size: 15%;
  font-weight: bolder;
  border-right: 1px solid rgb(116, 111, 111);
  padding: 1%;
}

.news-bar-box-1 {
  order: 1;
}
.news-bar-box-2 {
  order: 2;
}
.news-bar-box-3 {
  order: 3;
}
.news-bar-box-4 {
  order: 4;
}
.news-bar-box-5 {
  order: 5;
}
.news-bar-heading-box {
  order: 6;
  flex: 1;
}
.news-bar-heading-box > a {
  color: red;
  text-align: center;
}

/* SECTION */

section {
  margin: 3%;
}

.section-boxs {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  padding: 1%;
  position: relative;
}
.section-box-1 {
  order: 1;
  width: 90%;
}
.section-box-1 h1 > a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 120%;
  font-family: sans-serif;
  color: black;
}

.section-box-1 p > a {
  text-decoration: none;
  font-size: 90%;
  font-family: sans-serif;
  color: black;
}
.section-box-2 {
  background-image: url(./img/section-pic.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  order: 2;
  width: 100%;
}

span {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-size: 11%;
  color: gray;
}

/*SECTION NUMBER TWO*/

.section-number-two {
  /* border: 6px solid black; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 95%;
}

.sec-1 {
  display: grid;
  grid-template-columns: repeat(12, 15%);
  grid-template-rows: auto 10px 10% 10%;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "a a a a a a a a a a a a"
    "b b b b c c c c c c c c"
    "b b b b c c c c c c c c";

  /* gap: 40%; */
  /* border: 1px solid black; */
  width: 50%;
}

.sec-1 > img {
  width: 10%;
  height: 1%;
}

.pc-1 {
  grid-area: b;
}
.pc-2 {
  grid-area: c;
}
.pc-3 {
  grid-area: a;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
  width: 50%;
  /* border: 1px solid black; */
}

.sec-2-1 {
  background-color: red;
  color: white;
  order: 1;
  height: 17%;
  width: 100%%;
  font-size: 70%;
  cursor: pointer;
}

.sec-2-1 > img {
  float: right;
  height: 100%;
  margin-left: 3%;
}

.sec-2-2 {
  background-color: blue;
  color: white;
  order: 1;
  height: 17%;
  font-size: 70%;
  cursor: pointer;
  width: ;
}

.sec-2-2 > img {
  float: right;
  height: 100%;
  margin-left: 3%;
}

.sec-2-3 {
  background-color: red;
  color: white;
  order: 1;
  height: 17%;
  font-size: 70%;
  cursor: pointer;
}

.sec-2-3 > img {
  float: right;
  height: 100%;
  margin-left: 3%;
}

.sec-2-4 {
  background-color: blue;
  color: white;
  order: 1;
  height: 17%;
  font-size: 70%;
  cursor: pointer;
}

.sec-2-4 > img {
  float: right;
  height: 100%;
  margin-left: 3%;
}
